<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Machine</title>

    <!-- Link to external CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='landing.css') }}"
    />
    <script src="{{ url_for('static', filename='landing.js') }}"></script>
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="landing-page">
      <div class="content">
        <img
          src="https://img.icons8.com/ios-filled/100/000000/helping-hand.png"
          alt="Helping Hands Icon"
          class="icon"
        />
        <h1 class="title">Time Machine</h1>
        <p class="description">
          A community to resolve post-grad uncertainty<br />
          Share or Learn about non-normative career options<br />
          Build or Share personalized alum profiles
        </p>
        <div class="button-container">
          <button class="btn student">Student Sign Up</button>
          <button class="btn alum">Alum Sign Up</button>
        </div>
      </div>
    </div>
  </body>
</html>
